<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Enables media queries -->
    <meta name="viewport" content="width=device-width"/>
    <!-- Link to the email's CSS, which will be inlined into the email -->
    <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
<table class="body">
    <tr>
        <td>
            <center>
                <container>
                    <spacer size="14"></spacer>
                </container>
                <table class="container">
                    <tbody>
                    <tr>
                        <td>
                            <img src="http://layoutmain.esy.es/mail/img/unnamed.png" alt="Panaya">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <container>
                    <spacer size="20"></spacer>
                </container>
                <container>
                    <row>
                        <columns>
                            <p class="font_b sub-title text-center">Panaya brings you the visibility you want so you can deliver what you need. Gain visibility with our latest news:</p>
                            <container>
                                <spacer size="30"></spacer>
                            </container>
                        </columns>
                    </row>
                </container>
                <container>
                    <row>
                        <columns>
                            <img src="http://layoutmain.esy.es/mail/img/line-yellow.png" alt="">
                            <container>
                                <spacer size="7"></spacer>
                            </container>
                            <h2 class="main-heading">The Big News</h2>
                            <img src="http://layoutmain.esy.es/mail/img/line-yellow.png" alt="">
                            <container>
                                <spacer size="25"></spacer>
                            </container>
                        </columns>
                    </row>
                </container>
                <container class="row_picture">
                    <row>
                        <columns small="12" large="6" class="pad-left">
                            <h3 class="main-heading color-black small-text-center">Introducing Panaya Test Center 2.0</h3>
                            <container>
                                <spacer size="10"></spacer>
                            </container>
                            <p class="main-body-p">When it comes to your testing needs, do it stress-free. Accelerate and standardize testing to drive more innovation today.</p>
                            <container>
                                <spacer size="5"></spacer>
                            </container>
                            <button href="#">Read full article</button>
                            <container>
                                <spacer size="25"></spacer>
                            </container>
                        </columns>
                        <columns  small="12" large="6">
                            <p class="small-text-center"><a href="#" class="link"><img src="http://layoutmain.esy.es/mail/img/named.jpg" alt="item"></a></p>
                        </columns>
                    </row>
                </container>

                <container>
                    <row>
                        <columns>
                            <container>
                                <spacer size="20"></spacer>
                            </container>
                            <img src="http://layoutmain.esy.es/mail/img/line-yellow.png" alt="">
                            <container>
                                <spacer size="7"></spacer>
                            </container>
                            <h2 class="main-heading">For Your Competitive Edge</h2>
                            <img src="http://layoutmain.esy.es/mail/img/line-yellow.png" alt="">
                            <container>
                                <spacer size="20"></spacer>
                            </container>
                        </columns>
                    </row>
                </container>

                <container class="row_picture">
                    <row>
                        <columns small="12" large="6">
                            <p class="small-text-center"><a href="#" class="link mb-mob"><img src="http://layoutmain.esy.es/mail/img/named2.jpg" alt="item"></a></p>
                        </columns>
                        <columns small="12" large="6" class="pad-right">
                            <h3 class="main-heading color-black small-text-center">2018 Testing Trends </h3>
                            <container>
                                <spacer size="10"></spacer>
                            </container>
                            <p class="main-body-p">What are the testing trends which will define your 2018 strategy? Check out our blog post to learn more</p>
                            <container>
                                <spacer size="5"></spacer>
                            </container>
                            <button href="#">Read the blog</button>
                            <container>
                                <spacer size="25" class="mob-h"></spacer>
                            </container>
                        </columns>
                    </row>
                </container>
                <container>
                    <hr color="#CBCBCB">
                </container>
                <container>
                    <row>
                        <columns>
                            <container>
                                <spacer size="20"></spacer>
                            </container>
                            <h3 class="main-heading color-black small-text-center">Still challenged by release frequencies?</h3>
                            <container>
                                <spacer size="20"></spacer>
                            </container>
                            <a href="#" class="main-body-p">Two-thirds of businesses today face challenges while implementing continuous delivery. Understand more about the challenges and how you can avoid such barriers in 2018 »</a>
                        </columns>
                    </row>
                </container>

                <container>
                    <hr color="#CBCBCB">
                </container>
                <container>
                    <row>
                        <columns>
                            <container>
                                <spacer size="30"></spacer>
                            </container>
                            <h3 class="main-heading color-black small-text-center">The Ideal Testing Solution: Key Capabilities You Are Probably Missing</h3>
                            <container>
                                <spacer size="20"></spacer>
                            </container>
                            <a href="#" class="main-body-p">Choosing the right testing solution can help your organization become more agile and stay ahead of the curve. Read this eBook to learn about various testing methodologies that promote rapid change without compromising on quality » </a>
                            <container>
                                <spacer size="30"></spacer>
                            </container>
                        </columns>
                    </row>
                </container>
                <container>
                    <row>
                        <columns>
                            <img src="http://layoutmain.esy.es/mail/img/line-yellow.png" alt="">
                            <container>
                                <spacer size="7"></spacer>
                            </container>
                            <h2 class="main-heading">Join the conversation…</h2>
                            <img src="http://layoutmain.esy.es/mail/img/line-yellow.png" alt="">
                            <container>
                                <spacer size="25"></spacer>
                            </container>
                        </columns>
                    </row>
                </container>
                <container class="row_picture">
                    <row>
                        <columns small="12" large="6" class="pad-left">
                            <h3 class="main-heading color-black small-text-center">QA Engineers Vs. <br> Developers </h3>
                            <container>
                                <spacer size="10"></spacer>
                            </container>
                            <p class="main-body-p">What are the 5 reasons which make functional testing more complex than development?</p>
                            <container>
                                <spacer size="5"></spacer>
                            </container>
                            <button href="#">Read more</button>
                            <container>
                                <spacer size="30"></spacer>
                            </container>
                        </columns>
                        <columns  small="12" large="6">
                            <p class="small-text-center"><a href="#" class="link"><img src="http://layoutmain.esy.es/mail/img/named3.jpg" alt="item"></a></p>
                        </columns>
                    </row>
                </container>
                <container>
                    <hr class="mt_0" color="#CBCBCB">
                </container>
                <container>
                    <row>
                        <columns>
                            <container>
                                <spacer size="30"></spacer>
                            </container>
                            <h3 class="main-heading color-black small-text-center">Transparency for Better Application Delivery</h3>
                            <container>
                                <spacer size="20"></spacer>
                            </container>
                            <a href="#" class="main-body-p">QA and test strategies must go beyond traditional automated test execution and deliver smart automation throughout the testing process. Check out our article featured in DZone for more best practices and tips »</a>
                        </columns>
                    </row>
                </container>
                <container>
                    <hr color="#CBCBCB">
                </container>
                <container>
                    <row>
                        <columns>
                            <container>
                                <spacer size="30"></spacer>
                            </container>
                            <h3 class="main-heading color-black small-text-center">8 Key Performance Indicators for Quality Releases</h3>
                            <container>
                                <spacer size="20"></spacer>
                            </container>
                            <a href="#" class="main-body-p">It’s no secret that Software Quality Managers are facing increasing pressure to deliver high quality software at record-breaking speed. But how do we measure success? Check out our 8 recommended KPIs in Software Testing Help »</a>
                            <container>
                                <spacer size="10"></spacer>
                            </container>
                        </columns>
                    </row>
                </container>
                <container>
                    <row>
                        <columns>
                            <container>
                                <spacer size="20"></spacer>
                            </container>
                            <img src="http://layoutmain.esy.es/mail/img/line-yellow.png" alt="">
                            <container>
                                <spacer size="7"></spacer>
                            </container>
                            <h2 class="main-heading">Panaya Features of the Month</h2>
                            <img src="http://layoutmain.esy.es/mail/img/line-yellow.png" alt="">
                            <container>
                                <spacer size="25"></spacer>
                            </container>
                        </columns>
                    </row>
                </container>
                <container class="row_picture">
                    <row>
                        <columns small="12" large="6" class="pad-left">
                            <p class="small-text-center"><a href="#" class="link"><img src="http://layoutmain.esy.es/mail/img/named4.jpg" alt="item"></a></p>
                            <container>
                                <spacer size="15"></spacer>
                            </container>
                            <p class="main-body-p">Panaya's new Quick Run Player brings test acceleration and automation to an all new level.</p>
                        </columns>
                        <columns  small="12" large="6" class="pad-right">
                            <p class="small-text-center"><a href="#" class="link"><img src="http://layoutmain.esy.es/mail/img/named5.jpg" alt="item"></a></p>
                            <container>
                                <spacer size="15"></spacer>
                            </container>
                            <p class="main-body-p">Script Editing is now easy and allows enhanced features such as - Smart Validation, Disabling Instructions and more!</p>
                        </columns>
                    </row>
                </container>
                <container>
                    <hr class="mt_20" color="#CBCBCB">
                </container>
                <container>
                    <spacer size="25"></spacer>
                </container>
                <container>
                    <row>
                        <columns small="12" large="12">
                            <p class="small-text-center">
                                <a href="#" class="link"><img src="http://layoutmain.esy.es/mail/img/facebook-d.jpg" alt="item-social"></a>
                                <a href="#" class="link"><img src="http://layoutmain.esy.es/mail/img/in-d.jpg" alt="item-social"></a>
                                <a href="#" class="link"><img src="http://layoutmain.esy.es/mail/img/twitter-d.jpg" alt="item-social"></a>
                            </p>
                            <container>
                                <spacer size="10"></spacer>
                            </container>
                            <p class="text-sm small-text-center">You received this email at <a href="#" class="text-sm">lgalazan@panaya.com</a> because you signed up for Panaya emails.</p>
                            <p class="text-sm small-text-center">
                                <a href="#" class="text-sm">Unsubscribe</a><span class="ws"></span> | <span class="ws"></span>
                                <a href="#" class="text-sm">Privacy Policy</a><span class="ws"></span> | <span class="ws"></span>
                                <a href="#" class="text-sm">Contact Us</a>
                            </p>
                            <container>
                                <spacer size="30"></spacer>
                            </container>
                            <p class="text-sm small-text-center">&copy; 2006-18 Panaya Ltd. All rights reserved</p>
                        </columns>
                    </row>
                </container>
                <container>
                    <spacer size="25"></spacer>
                </container>
            </center>
        </td>
    </tr>
</table>
</body>
</html>